@import url(https://fonts.bunny.net/css?family=martel-sans:400|signika:700);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    font-family: "Martel Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    @apply text-body-500 text-pretty;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Signika", sans-serif;
    letter-spacing: 0.05em;
    @apply text-heading-500 text-balance font-bold;
  }
}
.background {
  background: url("/assets/images/background/background.png") bottom/100%
    no-repeat;
  object-fit: cover;
  opacity: 0.7;
  height: 100%;
}

@layer utilities {
  body.no-scroll {
    overflow: hidden;
  }
  .backgroundNav {
    position: fixed;
    top: 0;
    right: -1000px;
    background: #000;
    height: 100vh;
    z-index: 1;
    width: 100%;
    transition: right 350ms ease-in-out, background 350ms ease-in-out,
      opacity 350ms ease-in-out;
  }
  .backgroundNav.active {
    opacity: 0.5;
    right: 0;
  }
  @media screen and (min-width: 1024px) {
    .backgroundNav {
      display: none;
    }
  }
  header .navigation {
    position: fixed;
    right: -1000px;
    top: 0;
    z-index: 1;
    transition: right 350ms ease-in-out, background 350ms ease-in-out;
    height: 100vh;
    overflow-y: scroll;
    background: #fdf7f5;
    box-shadow: 0px 8px 24px 0px rgba(149, 157, 155, 0.2);
  }
  header .navigation.active {
    right: 0;
  }
}
.dropdown-content {
  opacity: 0;
  transition: opacity 350ms ease-in-out, height 350ms ease-in-out;
  /* autres styles ici */
}

.dropdown-content.open {
  opacity: 1;
}
